<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="World_of_Warcraft_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <World_of_Warcraft_Downloader.Properties.Settings>
            <setting name="WoWD_DLink1" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_1.12.1.torrent</value>
            </setting>
            <setting name="WoWD_DLink2" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_2.4.3.torrent</value>
            </setting>
            <setting name="WoWD_DLink3" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_3.3.5a.torrent</value>
            </setting>
            <setting name="WoWD_DLink4" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_4.3.4.torrent</value>
            </setting>
            <setting name="WoWD_DLink5" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_5.4.8.torrent</value>
            </setting>
            <setting name="WoWD_DLink6" serializeAs="String">
                <value>https://github.com/Asandru/World-of-Warcraft-Downloader/raw/master/torrents/World_of_Warcraft_6.2.3.torrent</value>
            </setting>
        </World_of_Warcraft_Downloader.Properties.Settings>
    </applicationSettings>
</configuration>